.txt-titulo {
	font-size: 14px;
	letter-spacing: 0;
	opacity: 1;
	font-weight: bold;
}

.txt-valor {
	font-size: 30px;
	letter-spacing: 0;
	opacity: 1;
	font-weight: bold;
	padding: 0.2em 0;
}

.txt-descricao {
	font-size: 13px;
	letter-spacing: 0;
}

.border-card {
	max-width: fit-content;
	border-radius: 8px;
	min-width: 360px;
}
