.div-geral {
	padding: 25px;
	min-width: 750px;

	.div-tab {
		margin-top: 15px;
	}

	.div-content {
		background-color: #fff;
		min-height: calc(100vh - 262px) !important;
		border-left: 1px solid #cbc8cf;
		border-right: 1px solid #cbc8cf;
		border-bottom: 1px solid #cbc8cf;
	}

	.ml-20 {
		margin-left: 20px;
	}

	.mr-20 {
		margin-right: 20px;
	}

	.mt-20 {
		margin-top: 20px;
	}

	.pl-20 {
		padding-left: 20px;
	}

	.pr-20 {
		padding-right: 20px;
	}

	.p-20 {
		padding: 20px;
	}

	.txt-titulo {
		font-size: 22px;
		font-weight: bold;
		letter-spacing: 0;
		opacity: 1;
	}

	.txt-chk {
		font-size: 14px;
	}

	.label {
		font-size: 12px;
	}

	.icon {
		font-size: 18px;
		position: fixed;
		margin-left: 5px;
	}

	.btn-cancelar {
		width: 192px;
		height: 43px;
		border-radius: 6px;
		color: #8e8e93;
		border: 1px solid #c7c7cc;
		border-radius: 6px;
		font-size: 12px;
		font-weight: bold;
	}

	.btn-salvar {
		width: 192px;
		height: 43px;
		border-radius: 6px;
		color: #fff;
		background: #4cd964 0% 0% no-repeat padding-box;
		border-radius: 6px;
		font-size: 12px;
		font-weight: normal;
	}

	.btn-close {
		width: 106px;
		height: 35px;
		background-color: #fff;
		color: #ff3b30;
		border: 1px solid #d1d1d6;
		border-radius: 6px;
		font-size: 14px;
		font-weight: normal;
		letter-spacing: 0;
		line-height: 0;
		padding: 0;
	}

	.ml-5 {
		margin-left: 5px;
	}
}
