<!-- -->

<mat-card class="border-card">
	<mat-card-content>
		<div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
			<div fxLayout="column" fxFlex="50">
				<a class="txt-color-primary txt-titulo bold">
					Risco Total
				</a>
				<a class="txt-color-primary txt-valor bold">{{ valor | currency: 'BRL' }}</a>
			</div>
			<div fxLayout="column" fxFlex="50">
				<div fxLayout="row" fxLayoutAlign="center center">
					<div class="chart-wrapper">
						<canvas
							height="112px"
							width="150px"
							baseChart
							[datasets]="barChartData"
							[labels]="barChartLabels"
							[options]="barChartOptions"
							[plugins]="barChartPlugins"
							[legend]="barChartLegend"
							[chartType]="barChartType"
							(chartClick)="chartClicked($event)"
						>
						</canvas>
					</div>
				</div>
			</div>
		</div>
	</mat-card-content>
</mat-card>
