@import '~@angular/material/theming';

@mixin card-risco-total-component-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);

	app-card-risco-total {
		.txt-color-primary {
			color: mat-color($primary);
		}

		.txt-color-warn {
			color: mat-color($warn);
		}

		.border-card {
			border: 1px solid mat-color($primary, 200);
		}
	}
}
