.content {
	margin: 25px;

	.txt-titulo {
		font-size: 22px;
		font-weight: bold;
		letter-spacing: 0;
		opacity: 1;
	}
}

// .drawer {
// 	min-width: 590px;
// }

.drawer-full {
	min-width: 100%;
	position: fixed;
	margin-top: 85px;
}

.mat-drawer-inner-container {
	position: absolute !important;
}
