$mat-wf-verde: (
	50: #eafaec,
	100: #c9f4d1,
	200: #a6ecb2,
	300: #82e493,
	400: #67df7b,
	500: #4cd964,
	600: #45d55c,
	700: #3ccf52,
	800: #33ca48,
	900: #24c036,
	A100: #fcfffc,
	A200: #33ca48,
	A400: #96ffa1,
	A700: #7cff8a,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #000000,
		800: #000000,
		900: #000000,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000
	)
);

$mat-wf-azul: (
	50: #ebf8fe,
	100: #ceeffe,
	200: #ade4fd,
	300: #8cd9fc,
	400: #73d0fb,
	500: #5ac8fa,
	600: #52c2f9,
	700: #48bbf9,
	800: #3fb4f8,
	900: #2ea7f6,
	A100: #ffffff,
	A200: #3fb4f8,
	A400: #d1ecff,
	A700: #b8e1ff,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #000000,
		800: #000000,
		900: #000000,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000
	)
);

$mat-wf-laranja: (
	50: #fff2e0,
	100: #ffdfb3,
	200: #ffca80,
	300: #ffb54d,
	400: #ffa526,
	500: #ff9500,
	600: #ff8d00,
	700: #ff8200,
	800: #ff7800,
	900: #ff6700,
	A100: #ffffff,
	A200: #ff7800,
	A400: #ffd5bf,
	A700: #ffc4a6,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #000000,
		800: #000000,
		900: #000000,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000
	)
);

$mat-wf-amarelo: (
	50: #faf5e4,
	100: #f3e5bb,
	200: #ebd48e,
	300: #d1a019,
	400: #dcb53e,
	500: #d6a81c,
	600: #d1a019,
	700: #cc9714,
	800: #c68d11,
	900: #bc7d09,
	A100: #fff6e7,
	A200: #ffe2b4,
	A400: #ffce81,
	A700: #ffc468,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #000000,
		800: #000000,
		900: #000000,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000
	)
);

$mat-wf-vermelho: (
	50: #ffe7e6,
	100: #ffc4c1,
	200: #ff9d98,
	300: #ff766e,
	400: #ff584f,
	500: #ff3b30,
	600: #ff352b,
	700: #ff2d24,
	800: #ff261e,
	900: #ff1913,
	A100: #ffffff,
	A200: #ff261e,
	A400: #ffc8c7,
	A700: #ffafad,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000
	)
);

$mat-wf-cinza: (
	50: #f3f3f3,
	100: #e1e1e1,
	200: #cdcdcd,
	300: #b9b9b9,
	400: #aaaaaa,
	500: #9b9b9b,
	600: #939393,
	700: #898989,
	800: #7f7f7f,
	900: #6d6d6d,
	A100: #fdeeee,
	A200: #6d6d6d,
	A400: #ff8686,
	A700: #ff6d6d,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #000000,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000
	)
);

$mat-wf-preto: (
	50: #e0e0e0,
	100: #b3b3b3,
	200: #808080,
	300: #4d4d4d,
	400: #262626,
	500: #000000,
	600: #000000,
	700: #000000,
	800: #000000,
	900: #000000,
	A100: #a6a6a6,
	A200: #8c8c8c,
	A400: #737373,
	A700: #666666,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #ffffff,
		A700: #ffffff
	)
);

$mat-wf-roxo: (
	50: #e7e4ec,
	100: #c3bcce,
	200: #9b90ae,
	300: #73638e,
	400: #554175,
	500: #37205d,
	600: #311c55,
	700: #2a184b,
	800: #231341,
	900: #160b30,
	A100: #8f6cff,
	A200: #6939ff,
	A400: #4206ff,
	A700: #3900eb,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #ffffff,
		A400: #ffffff,
		A700: #ffffff
	)
);
