@import '~@angular/material/theming';

@mixin layout-documentacao-component-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);

	app-layout-documentacao {
		.color-primary {
			color: mat-color($primary);
		}

		.color-primary-300 {
			color: mat-color($primary, 300);
		}

		.mat-tab-label-content {
			color: mat-color($primary, 200);
			font-size: 18px;
			font-weight: bold;
			letter-spacing: 0;
			opacity: 1;
		}
	}
}
