@import '~@angular/material/theming';

@mixin wf-header-component-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);

	app-wf-header {
		.color-primary {
			color: mat-color($primary);
		}

		.color-primary-300 {
			color: mat-color($primary, 300);
		}

		.color-primary-400 {
			color: mat-color($primary, 400);
		}

		.border-color-primary {
			border: 1px solid mat-color($primary);
		}
	}
}
