@import '~@angular/material/theming';

@mixin lib-incluir-cc-component-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);

	app-lib-incluir-cc {
		.color-primary {
			color: mat-color($primary);
		}

		.color-primary-300 {
			color: mat-color($primary, 300);
		}

		.background-primary-50 {
			background-color: mat-color($primary, 50);
		}
	}
}
