.content {
	background-color: #fff;
	min-height: calc(100vh - 220px) !important;
	border-left: 1px solid #cbc8cf;
	border-right: 1px solid #cbc8cf;
	border-bottom: 1px solid #cbc8cf;
	padding: 20px;
}
