<div class="content">
	<div fxLayout="row" fxLayoutAlign="space-between start" fxFlexFill class="div-topo">
		<div fxLayout="column" fxLayoutAlign="start start">
			<span class="txt-titulo color-primary">Notificações</span>
		</div>
		<div fxLayout="column" fxLayoutAlign="center end">
			<span class="txt-aviso">60 notificações não visualizadas</span>
		</div>
	</div>

	<div fxLayout="column" fxLayoutAlign="start start" class="div-conteudo">
		<div fxLayout="row" fxFlexFill>
			<span class="txt-subTitulo color-primary-300">Inclusão e exclusão de colaborador</span>
		</div>

		<div fxLayout="column" fxLayoutAlign="center space-between" fxFlexFill>
			<mat-card class="border-card" fxFlex="0 0 74px">
				<div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
					<div fxLayout="row" fxFlex="45">
						<div
							fxLayout="row"
							fxLayoutAlign="center center"
							mat-card-avatar
							class="img-avatar border-color-primary"
						>
							<mat-icon color="primary">person</mat-icon>
						</div>
						<div fxLayout="column" fxLayoutAlign="center start">
							<span class="txt-usuario color-primary"> Ricardo Almeida</span>
							<span class="txt-email">ricardo@rgb.com.br</span>
						</div>
					</div>
					<div fxLayout="column" fxLayoutAlign="center center">
						<span class="txt-label color-primary">Enviada</span>
						<span class="txt-label color-primary"> 01/01/2020</span>
					</div>
					<div fxLayout="row" fxLayoutAlign="end center" fxFlex="45">
						<button mat-button class="btn-acao btn-background-primary-300">
							<span>Incluir agora</span>
						</button>
					</div>
				</div>
			</mat-card>
			<mat-card class="border-card" fxFlex="0 0 74px">
				<div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
					<div fxLayout="row" fxFlex="45">
						<div
							fxLayout="row"
							fxLayoutAlign="center center"
							mat-card-avatar
							class="img-avatar border-color-primary"
						>
							<mat-icon color="primary">person</mat-icon>
						</div>
						<div fxLayout="column" fxLayoutAlign="center start">
							<span class="txt-usuario color-primary"> Ricardo Almeida</span>
							<span class="txt-email">ricardo@rgb.com.br</span>
						</div>
					</div>
					<div fxLayout="column" fxLayoutAlign="center center">
						<span class="txt-label color-primary">Enviada</span>
						<span class="txt-label color-primary"> 01/01/2020</span>
					</div>
					<div fxLayout="row" fxLayoutAlign="end center" fxFlex="45">
						<button mat-button class="btn-acao btn-background-primary-300">
							<span>Incluir agora</span>
						</button>
					</div>
				</div>
			</mat-card>
		</div>
	</div>

	<div fxLayout="column" fxLayoutAlign="start start" class="div-conteudo space">
		<div fxLayout="row" fxFlexFill>
			<span class="txt-subTitulo color-primary-300">Promissórias Vencendo</span>
		</div>

		<div fxLayout="column" fxLayoutAlign="center space-between" fxFlexFill>
			<mat-card class="border-card" fxFlex="0 0 74px">
				<div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
					<div fxLayout="row" fxFlex="45">
						<div fxLayout="column" fxLayoutAlign="center start">
							<span class="txt-vencimento">Vencimento 20/01/2020 </span>
							<span class="txt-valor color-primary">R$ 50.000,00</span>
						</div>
					</div>
					<div fxLayout="column" fxLayoutAlign="center center">
						<span class="txt-label color-primary">Enviada</span>
						<span class="txt-label color-primary"> 01/01/2020</span>
					</div>
					<div fxLayout="row" fxLayoutAlign="end center" fxFlex="45">
						<button mat-button class="btn-promissoria btn-background-primary-300">
							<span>Ver Promissória</span>
						</button>
					</div>
				</div>
			</mat-card>
			<mat-card class="border-card" fxFlex="0 0 74px">
				<div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
					<div fxLayout="row" fxFlex="45">
						<div fxLayout="column" fxLayoutAlign="center start">
							<span class="txt-vencimento vencido">Vencido 12/01/2020</span>
							<span class="txt-valor vencido">R$ 50.000,00</span>
						</div>
					</div>
					<div fxLayout="column" fxLayoutAlign="center center">
						<span class="txt-label color-primary">Enviada</span>
						<span class="txt-label color-primary"> 01/01/2020</span>
					</div>
					<div fxLayout="row" fxLayoutAlign="end center" fxFlex="45">
						<button mat-button class="btn-promissoria btn-background-primary-300">
							<span>Ver Promissória</span>
						</button>
					</div>
				</div>
			</mat-card>
		</div>
	</div>
	<div fxLayout="row" fxLayoutAlign="center center">
		<button mat-button class="btn-all btn-background-primary-A200">
			<span>Ver mais</span>
		</button>
	</div>
</div>
