.content {
	margin: 25px;

	mat-card {
		height: 50px;
	}

	.div-conteudo {
		padding: 0 20px 0 20px;
	}

	.space {
		margin-top: 20px;
	}

	.div-topo {
		margin-bottom: 25px;
	}

	.border-card {
		border-radius: 8px;
		opacity: 1;
		margin-bottom: 10px;
	}

	.btn-acao {
		width: 100px;
		height: 30px;
		border-radius: 4px;
		opacity: 1;
		color: #ffffff;
		font-size: 12px;
		font-weight: normal;
		letter-spacing: 0;
		opacity: 1;
		line-height: 0;
		margin-right: 10px;
	}

	.btn-promissoria {
		width: 127px;
		height: 30px;
		border-radius: 4px;
		opacity: 1;
		color: #ffffff;
		font-size: 12px;
		font-weight: normal;
		letter-spacing: 0;
		opacity: 1;
		line-height: 0;
		margin-right: 10px;
	}

	.txt-vencimento {
		font-size: 14px;
		letter-spacing: 0;
		opacity: 1;
		margin-left: 10px;
		color: #50c733;
	}

	.vencido {
		color: #ff7171;
	}

	.txt-valor {
		font-size: 14px;
		letter-spacing: 0;
		opacity: 1;
		font-weight: bold;
		margin-left: 10px;
	}

	.txt-aviso {
		font-size: 13px;
		letter-spacing: 0;
		opacity: 1;
		color: #606060;
		margin-right: 20px;
	}

	.txt-subTitulo {
		font-size: 16px;
		font-weight: bold;
		letter-spacing: 0;
		opacity: 1;
		margin: 5px 0 20px 0;
	}

	.txt-label {
		font-size: 10px;
		letter-spacing: 0;
		opacity: 1;
	}

	.txt-usuario {
		font-size: 14px;
		letter-spacing: 0;
		opacity: 1;
		font-weight: bold;
	}

	.txt-titulo {
		font-size: 18px;
		letter-spacing: 0;
		opacity: 1;
		font-weight: bold;
	}

	.txt-email {
		font-size: 14px;
		letter-spacing: 0;
		opacity: 1;
		color: #9b9b9b;
	}

	.img-avatar {
		height: 40px;
		width: 40px;
		border-radius: 50%;
		flex-shrink: 0;
		object-fit: cover;
		margin: 0 10px 0 10px;
	}

	.btn-padrao {
		background-color: #ffffff !important;
		box-shadow: none !important;
		height: 50px;
		width: 50px;
	}

	.editar {
		color: #ff9500 !important;
		border: 1px solid #ff9500 !important;
	}

	.excluir {
		color: #ff7171 !important;
		border: 1px solid #ff7171 !important;
	}

	.icon {
		font-size: 22px;
	}

	.btn-new {
		width: 192px;
		height: 43px;
		border-radius: 6px;
		opacity: 1;
		color: #ffffff;
		font-size: 12px;
		font-weight: normal;
		letter-spacing: 0;
		opacity: 1;
		line-height: 0;
	}

	.btn-all {
		width: 192px;
		height: 43px;
		border-radius: 6px;
		opacity: 1;
		color: #ffffff;
		font-size: 12px;
		font-weight: normal;
		letter-spacing: 0;
		opacity: 1;
		line-height: 0;
		margin-top: 20px;
	}
}
