@import '~@angular/material/theming';

@mixin notificacoes-component-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);

	app-notificacoes {
		.color-primary {
			color: mat-color($primary);
		}

		.color-primary-400 {
			color: mat-color($primary, 400);
		}

		.color-primary-300 {
			color: mat-color($primary, 300);
		}

		.border-card {
			border: 1px solid mat-color($primary, 200);
		}

		.border-color-primary {
			border: 1px solid mat-color($primary);
		}

		.btn-background-primary {
			background-color: mat-color($primary);
		}

		.btn-background-primary-300 {
			background-color: mat-color($primary, 300);
		}

		.btn-background-primary-A200 {
			background-color: mat-color($primary, A200);
		}
	}
}
