@import '~@angular/material/theming';

@mixin configurar-pagina-component-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);

	app-configurar-pagina {
		.color-primary {
			color: mat-color($primary);
		}

		.color-primary-400 {
			color: mat-color($primary, 400);
		}

		.color-primary-300 {
			color: mat-color($primary, 300);
		}

		.mat-card-color-primary-50 {
			background-color: mat-color($primary, 50);
		}

		.border-card {
			border: 1px solid mat-color($primary, 200);
		}

		.btn-background-primary-300 {
			background-color: mat-color($primary, 300);
		}
	}
}
