.div-geral {
	padding: 25px;
	min-width: 590px;

	.div-tab {
		margin-top: 10px;
	}

	.div-content {
		background-color: #fff;
		min-height: calc(100vh - 262px) !important;
	}

	.btn-filtrar {
		border-radius: 6px;
		width: 63px;
		height: 25px;
		font-size: 10px;
		font-weight: bold;
		line-height: 0;
		margin-bottom: 10px;
	}

	.mb-5 {
		margin-bottom: 5px;
	}

	.mb-20 {
		margin-bottom: 20px;
	}

	.ml-20 {
		margin-left: 20px;
	}

	.mr-20 {
		margin-right: 20px;
	}

	.mt-20 {
		margin-top: 20px;
	}

	.pl-20 {
		padding-left: 20px;
	}

	.pr-20 {
		padding-right: 20px;
	}

	.p-20 {
		padding: 20px;
	}

	.txt-titulo {
		font-size: 22px;
		font-weight: bold;
		letter-spacing: 0;
		opacity: 1;
	}

	.txt-chk {
		font-size: 14px;
	}

	.txt-btn {
		margin: 0 5px 0 -5px;
	}

	.txt-item {
		font-size: 12px;
		letter-spacing: 0;
		opacity: 1;
		font-weight: bold;
	}

	.label {
		font-size: 12px;
	}

	.icon {
		width: 15px;
	}

	.btn-cancelar {
		width: 192px;
		height: 43px;
		border-radius: 6px;
		color: #8e8e93;
		border: 1px solid #c7c7cc;
		border-radius: 6px;
		font-size: 12px;
		font-weight: bold;
	}

	.btn-salvar {
		width: 192px;
		height: 43px;
		border-radius: 6px;
		color: #fff;
		background: #4cd964 0% 0% no-repeat padding-box;
		border-radius: 6px;
		font-size: 12px;
		font-weight: normal;
	}

	.btn-close {
		width: 106px;
		height: 35px;
		background-color: #fff;
		color: #ff3b30;
		border: 1px solid #d1d1d6;
		border-radius: 6px;
		font-size: 14px;
		font-weight: normal;
		letter-spacing: 0;
		line-height: 0;
		padding: 0;
	}

	.ml-5 {
		margin-left: 5px;
	}

	table {
		width: 100%;

		th.mat-header-cell:first-of-type {
			padding: 0;
		}

		td.mat-cell:first-of-type {
			padding: 0;
		}

		td.mat-cell:last-of-type {
			padding-right: 0;
		}

		.cel-titulo {
			font-size: 12px;
			font-weight: bold;
			letter-spacing: 0;
			opacity: 1;
			text-align: center;
		}

		td.mat-cell {
			font-size: 12px;
			letter-spacing: 0;
			opacity: 1;
			text-align: center;
		}

		.icon {
			width: 20px;
		}
	}
}
