.content {
	background-color: #fff;
	min-height: calc(100vh - 185px) !important;
	border-left: 1px solid #cbc8cf;
	border-right: 1px solid #cbc8cf;
	border-bottom: 1px solid #cbc8cf;
	padding: 20px;

	.btn-new {
		height: 43px;
		opacity: 1;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 0;
		line-height: 0;
	}

	.btn-gerar {
		border-radius: 6px;
		width: 192px;
		height: 43px;
		font-size: 12px;
		font-weight: bold;
	}

	.btn-excluir {
		border-radius: 6px;
		height: 43px;
		font-size: 12px;
		font-weight: bold;
		color: #ff7171;
		border: 1px solid #ff7171;
	}

	.btn-padrao {
		background-color: #ffffff !important;
		box-shadow: none !important;
		height: 30px;
		width: 30px;
	}

	.btn-padrao-mini {
		border-radius: 12px;
		height: 25px;
		font-size: 12px;
		line-height: 0;
		background-color: #ffffff;
	}

	.autorizacao {
		width: 120px;
	}

	.finalizar {
		color: #ff9500;
		border: 1px solid #ff9500;
	}

	.excluir {
		color: #ff7171 !important;
		border: 1px solid #ff7171 !important;
	}

	.icon-itens-excluir {
		line-height: 14px;
		font-size: 1.2em;
	}

	.txt-padrao {
		font-size: 14px;
		letter-spacing: 0;
		opacity: 1;
	}

	.icon {
		font-size: 2em;
		margin-right: 5px;
	}

	.mb-20 {
		margin-bottom: 20px;
	}

	.mb-10 {
		margin-bottom: 10px;
	}

	.div-paginator {
		margin-right: 15px;
	}

	.card-alert {
		border: 1px solid #ff7171;
		background: #ff71711a 0% 0% no-repeat padding-box;
		padding: 20px 30px 20px 20px;
		margin: 0 80px 15px 80px;
	}

	.txt-alert {
		font-size: 16px;
		letter-spacing: 0;
		opacity: 1;
		font-weight: bold;
		color: #ff7171;
	}

	table {
		width: 100%;

		th.mat-header-cell:first-of-type {
			padding: 0;
		}

		td.mat-cell:first-of-type {
			padding: 0;
		}

		td.mat-cell:last-of-type {
			padding-right: 0;
		}

		.cel-titulo {
			font-size: 12px;
			font-weight: bold;
			letter-spacing: 0;
			opacity: 1;
			text-align: center;
		}

		td.mat-cell {
			font-size: 12px;
			letter-spacing: 0;
			opacity: 1;
			text-align: center;
		}

		.mat-column-correntista {
			min-width: 300px !important;
		}

		.mat-column-valor {
			min-width: 100px !important;
		}
	}
}
