@import '~@angular/material/theming';

@mixin filtros-retirada-ni-component-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);

	app-filtros-retirada-ni {
		.color-primary {
			color: mat-color($primary);
		}

		.color-primary-300 {
			color: mat-color($primary, 300);
		}

		.color-primary-400 {
			color: mat-color($primary, 400);
		}

		.border-primary {
			border: 1px solid mat-color($primary);
		}

		.border-primary-200 {
			border: 1px solid mat-color($primary, 200);
		}

		.border-primary-400 {
			border: 1px solid mat-color($primary, 400);
		}

		.background-primary-50 {
			background-color: mat-color($primary, 50);
		}

		.background-primary-300 {
			background-color: mat-color($primary, 300);
		}

		.mat-cell {
			color: mat-color($primary, 300);
		}

		tr:nth-child(even) {
			background-color: mat-color($primary, 50);
		}

		.mat-paginator {
			color: mat-color($primary, 300);
		}
	}
}
