.img-logo {
	padding: 0 29px 0 11px;
}

.img-logo-personalizado {
	padding: 0 29px 0 0;
}
.espacamento-lateral {
	padding-left: 45px;
	padding-right: 45px;
}
.button-custom {
	margin-top: 10px;
	width: 200px;
	height: 48px;
}
.divider-custom {
	border-top-style: dotted;
}
.publicacao-custom {
	margin: 10px;
}

.imagem-1 {
	background-size: cover;
	background-image: url('../../../../assets/img/imagem1.jpg');
}
.imagem-2 {
	background-size: cover;
	background-image: url('../../../../assets/img/imagem2.jpg');
}
.imagem-3 {
	background-size: cover;
	background-image: url('../../../../assets/img/imagem3.jpg');
}
.imagem-4 {
	background-size: cover;
	background-image: url('../../../../assets/img/imagem4.jpg');
}
.imagem-5 {
	background-size: cover;
	background-image: url('../../../../assets/img/imagem5.jpg');
}
