@import '~@angular/material/theming';

@mixin wf-menu-lateral-component-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);

	app-wf-menu-lateral {
		.color-primary {
			color: mat-color($primary);
		}

		.color-primary-300 {
			color: mat-color($primary, 300);
		}
	}
}
