<mat-drawer-container class="background-primary-50" autosize hasBackdrop="false" fxFlexFill>
	<mat-drawer
		#drawer
		class="drawer"
		[ngClass]="{ drawer: !drawerFull, 'drawer-full': drawerFull }"
		mode="over"
		position="end"
	>
		<div fxLayout="column">
			<router-outlet></router-outlet>
		</div>
	</mat-drawer>

	<div class="drawer-content">
		<div class="content">
			<div fxLayout="column" fxLayoutAlign="center start">
				<span class="txt-titulo color-primary">Consultas</span>
			</div>

			<div fxLayout="column" fxFlexFill class="div-content-lib">
				<app-home-consultas></app-home-consultas>
			</div>
		</div>
	</div>
</mat-drawer-container>
