.dashboard {
	padding: 25px;
	.txt-titulo {
		font-size: 20px;
		letter-spacing: 0;
		opacity: 1;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.charts-dashboard {
		margin-top: 20px;
	}

	.column-graphic:first-child {
		margin-right: 10px;
	}

	.column-graphic:last-child {
		margin-left: 10px;
	}
}
